In [ ]:
print(1+2)

3

In [ ]:
print("今日の天気は"+"晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "%" )

降水確率50%

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" +"晴れ" +"晴れ" )

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
user_name="侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name ="侍太郎"
print(user_name)

user_name="侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
#整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

#文字列型と文字列型の連結
last_name = "侍"
first_name ="太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
top_side= 10
bottom_side = 20
height = 5

print(str((top_side + bottom_side)* height / 2) + "㎠")

75.0㎠

In [ ]:
top_side= 10
bottom_side = 20
height = 5
ans = (top_side + bottom_side) * height / 2

print(str(ans)+"㎠")

75.0㎠

In [ ]:
user_names = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]

print(user_names[1]) #2番目の要素だけを表示

user_names[1]="侍花子" #2番目の要素を更新
print(user_names)

user_names.append("侍五郎") #6番目の要素を追加
print(user_names)

user_names.pop(2) #3番目の要素を削除(0始まりのため2を指定)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス" )

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"アメリカ","イギリス","日本","フランス"}
print(country_names) #セット全体を表示

country_names.add("ドイツ") #ドイツをセットに追加
print(country_names)

country_names.remove("イギリス") #セットからイギリスを削除
print(country_names)

{'フランス', '日本', 'アメリカ', 'イギリス'}
{'フランス', 'アメリカ', 'イギリス', 'ドイツ', '日本'}
{'フランス', 'アメリカ', 'ドイツ', '日本'}

In [1]:
#連想配列を作成
personal_data = {"name":"侍太郎","age":36,"gender":"男性"}

#キー「name」の値を表示
print(personal_data["name"])

#連想配列全体を表示
print(personal_data)

#キー「age」の値を更新
personal_data["age"] = 37

#新しく要素(キーと価)を追加
personal_data["address"] = "東京都"

#連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [3]:
array = ["月曜日は晴れです","火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]
print(array)

dictionary = {"mon":"晴れ","tue":"雨","wed":"晴れ","thu":"晴れ","fri":"曇り","sat":"雲りのち雨","sun":"雷雨"}
print(dictionary)

['月曜日は晴れです', '火曜日は雨です', '水曜日は晴れです', '木曜日は晴れです', '金曜日は曇りです', '土曜日は曇りのち雨です', '日曜日は雷雨です']
{'mon': '晴れ', 'tue': '雨', 'wed': '晴れ', 'thu': '晴れ', 'fri': '曇り', 'sat': '雲りのち雨', 'sun': '雷雨'}